html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

body {
  background-color: rgba(255, 255, 255, 0.87);
  color: white;
  font-family: Arial, sans-serif;
}
/* Can use for container design */
.container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 1px;
}
